# Travis CI instructions

sudo: required
dist: trusty
language: generic

cache:
  directories:
    - $HOME/.ccache

notifications:
  email:
    on_failure: always
    recipients:
      - a.gutenkunst@pilz.de
      - c.henkel@pilz.de
      - h.slusarek@pilz.de
      - i.martini@pilz.de
env:
  global:
    - AFTER_SCRIPT='apt list --installed | grep "^ros-"'
    - CCACHE_DIR=$HOME/.ccache
    - ROS_DISTRO="melodic"
    - CATKIN_LINT=true
    - CATKIN_LINT_ARGS='--strict'
    - ADDITIONAL_DEBS="clang-tidy libclang-dev"
    - DOCKER_IMAGE=moveit/moveit:master-ci
    - ROS_REPO=ros
install:
  - git clone --depth=1 --branch master https://github.com/ros-industrial/industrial_ci.git .industrial_ci
script:
  - .industrial_ci/travis.sh
